.header {
  width: 100%;
  // max-width: 100%;
  height: 160vh;
  &__animation {
    position: relative; /* Posicion relative para que los elemtos tomen como guía este contenedor */
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
    }
    &--slogan{
      top: -50px;
      height: 800px;
    }
    &--plane1,
    &--plane2,
    &--plane3,
    &--plane4{
      height: 160px;
    }
    &--plane1{
      top: 120px;
      translate: -900px 0;
      transform: rotate(48deg);
    }
    &--plane2{
      top: 250px;
      translate: 900px 0;
      transform: rotate(220deg);
    }
    &--plane3{
      top: 450px;
      translate: -900px 0;
    }
    &--plane4{
      top: 120px;
      translate: -900px 0;
      transform: rotate(70deg);
    }
  }
  &__mobile {
    display: none;
    width: 100%;
    height: 100vh;
    background-image: url("../../../img/fullBanner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    &__animation {
      background-position: top center;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    &__animation {
      background-position: center 5%;
    }
  }
}
@media screen and (max-width: 576px) {
  .header {
    &__animation {
      display: none;
    }
    &__mobile {
      display: block;
      height: 450px;
      background-position: center 5%;
    }
  }
}
@media screen and (max-width: 480px) {
  .spaceSectionHeader1,
  .spaceSectionHeader2 {
    display: none;
  }
  .header {
    &__mobile {
      height: 380px;
      background-position: center 6%;
    }
  }
}

@media screen and (max-width: 380px) {
    .header{
        &__mobile{
            height: 330px;
        }
    }
}

@media screen and (max-width: 320px) {
    .header{
        &__mobile{
            height: 290px;
        }
    }
}
