.toolbar {
  background-color: $white;
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 10px 100px;
  align-items: center;
  &__logo {
    img {
      height: 60px;
    }
  }
  &__social {
    display: flex;
    a {
      margin-right: 20px;
      img {
        height: 40px;
      }
    }
  }
  &__burger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 668px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 480px) {
  .toolbar{
    padding: 25px;
    &__logo{
      img{
        height: 50px;
      }
    }
    &__social{
      a{
        margin-right: 10px;
        img{
          height: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .toolbar{
    padding: 20px;
    &__logo{
      img{
        height: 40px;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .toolbar{
    &__logo{
      img{
        height: 35px;
      }
    }
  }
}
