.firstNews {
  display: flex;
  justify-content: center;
  align-items: center;
  .littleCard {
    border-radius: 10px;
    padding: 40px;
    img {
      height: 250px;
    }
    &__info {
      align-self: start;
      h4 {
        color: $blue;
        font-size: 3rem;
      }
      h5{
        margin-bottom: 10px;
      }
    }
  }
}
.notes {
  display: flex;
  justify-content: center;
  &__info {
    width: 50%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-right: 50px;
    &--one {
      margin-right: 50px;
    }
  }
  &__videos {
    width: 50%;
    translate: 0 30px;
    &--rectangle {
      width: 100%;
      height: 100px;
      background-color: $blue;
      border-radius: 20px;
    }
    &--videos {
      margin-top: 110px;
      display: flex;
      justify-content: center;
      &One {
        margin-right: 20px;
      }
    }
  }
}

.extraNews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .littleCard {
    &__info{
      h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
    }
    margin-bottom: 20px;
    width: 325px;
    color: $white;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .notes {
    &__videos {
      translate: 0 25px;
      &--videos {
        margin-top: 55px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .firstNews {
    flex-direction: column;
  }
  .notes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__info {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &__videos {
      width: 100%;
      translate: 0 -30px;
      &--videos {
        margin-top: 50px;
        &One {
          margin-right: 50px;
        }
      }
    }
  }
  .extraNews {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .firstNews {
    .littleCard {
      img {
        height: 200px;
      }
    }
  }
  .notes {
    &__info {
      margin-right: 0px;
    }
    &__videos {
      &--rectangle {
        margin-top: 50px;
        height: 70px;
        border-radius: 10px;
      }
    }
  }
  .extraNews {
    .littleCard {
      width: 100%;
    }
  }
}

@media screen and (max-width: 668px) {
  .notes {
    &__videos {
      translate: 0 -5px;
    }
  }
}
@media screen and (max-width: 576px) {
  .firstNews {
    .littleCard {
      flex-direction: column;
      img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
      }
    }
  }
  .notes {
    &__info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--one {
        margin-right: 0px;
      }
      &--two {
        translate: 0 -80px;
      }
    }
    &__videos {
      translate: 0 -170px;
      &--videos {
        flex-direction: column;
        &One {
          margin-right: 0px;
        }
        &Two {
          translate: 0 -100px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .firstNews{
    .littleCard{
      img{
        height: 150px;
        translate: 8px 0;
      }
    }
  }
  .notes {
    &__info {
      &--two {
        translate: 0 10px;
      }
    }
    &__videos {
      translate: 0 -30px;
      &--rectangle {
        height: 50px;
        border-radius: 5px;
      }
    }
  }
}
@media screen and (max-width: 320px){
  .firstNews{
    .littleCard{
      border-radius: 5px;
      img{
        height: 120px;
      }
    }
  }
}
