@font-face {
    font-family: adrianna;
    src: url('../../../font/Adrianna-Regular.ttf');
}
@font-face {
    font-family: adriannaBold;
    src: url('../../../font/Adrianna-Bold.ttf');
}


$adrianna: adrianna;
$adriannaBold: adriannaBold;

h3{
    font-size: 30px;
}